@charset "UTF-8";

@media screen and (min-width: 768px) and  (max-width: 992px) {
    /*CONFIGURAÇÃO PARA TABLET*/
    body{
        background-image: linear-gradient(to top, #49a09d, #2c2f82);
    }

    section#login{
        width: 90vw;
        height: 400px;
    }

    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
         border-radius: 0px 20% 10% 0px;

    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }

    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }


}

@media screen and (min-width: 992px)  {
    /*CONFIGURAÇÃO PARA COMPUTADOR*/
    body{
        background-image: linear-gradient(to top, #49a09d, #2c2f82);
    }

    section#login{
        width: 990px;
        height: 450px;
    }

    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 20% 0px 0px 10%;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p{
        font-size: 1.2em;
        margin: 20px 0px;
    }


}
